<div class="container">
  <h1>Settings</h1>

  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group autocomplete">
      <label for="City">City</label>
      <input type="text" formControlName="city" class="form-control" (keyup)="onSearch($event)" id="City">

      <ul class="list-group list-of-city" [hidden]="showListOfCity">
        <li class="list-group-item disabled" *ngFor="let city of cities" (click)="selectCity(city)">{{city.name}}</li>
      </ul>
    </div>
    <div class="form-group">
      <label for="street">Street</label>
      <input type="text" formControlName="street" class="form-control" id="street">
    </div>
    <div class="form-group">
      <label for="building">Building</label>
      <input type="text" formControlName="building" class="form-control" id="building">
    </div>
    <div class="form-group">
      <label for="block">Block</label>
      <input type="text" formControlName="block" class="form-control" id="block">
    </div>
    <div class="form-group">
      <label for="room">Room</label>
      <input type="text" formControlName="room" class="form-control" id="room">
    </div>
    <div class="form-group">
      <label for="postalCode">Postal code</label>
      <input type="text" formControlName="postalCode" class="form-control" id="postalCode">
    </div>
    <div class="form-check">
      <input type="checkbox" formControlName="main" class="form-check-input" id="defaultAddress">
      <label class="form-check-label" for="defaultAddress">Default address</label>
    </div>
    <hr>
    <h3>Payment method</h3>
    <div class="form-group">
      <label for="paymentMethod">Payment method</label>
      <select id="paymentMethod" formControlName="paymentMethod" class="form-control">
        <option *ngFor="let payment of payment" value="{{payment.id}}">{{payment.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="shipmentMethod">Shipment method</label>
      <select id="shipmentMethod" formControlName="shipmentMethod" class="form-control">
        <option *ngFor="let shipment of shipment" value="{{shipment.id}}">{{shipment.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </form>
</div>
