<div class="container">
  <h1>Login</h1>
  <form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">User name</label>
      <input type="text" formControlName="username" class="form-control" id="username" aria-describedby="emailHelp" placeholder="username">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </form>
</div>
